@import '../../styles/index.module.scss';

.landing {
    background-color: $secondary;
    color: $primary;
}

.wrapper {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 75vh;
    width: 100%;
    max-width: $wrapper-width;
    max-height: 700px;

    @include mobile {
        flex-direction: column;
        align-items: flex-start;
    }
}

.header {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;

    @include mobile {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
    }
}

.nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: red;
    min-width: 300px;
    width: 100%;
    height: calc(100% - 60px);
    max-width: 350px;
    margin: 30px;
    background-color: $alternative;
    &Wrapper {
        list-style-type: none;
        align-items: center;
        height: 50%;
        max-height: 250px;
        font-size: 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &Link {
        text-decoration: none;
        color: $primary;
        font-weight: bold;
    }

    @include mobile {
        box-sizing: border-box;
        flex-direction: row;
        min-width: auto;
        max-width: calc(100% - 60px);
        padding: 11px;
        height: auto;

        &Wrapper {
            justify-content: space-between;
            width: 100%;
            font-size: 1.2rem;
            flex-direction: row;
        }

        &Item {
            display: inline-flex;
        }
    }
}

.intro {
    padding: 30px;
    display: flex;
    flex-direction: column;

    &Heading {
        font-size: 46px;
        letter-spacing: -1px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    &Description {
        width: 100%;
        font-weight: normal;
        font-size: 27px;
        margin-bottom: 55px;
        letter-spacing: 0.2px;
    }
    
    &Text {
        font-size: 18px;
        line-height: 24px;
        overflow: hidden;
        @include mobile {
            max-height: 200px;
        }
    }
}

.optionBar {
    display: flex;
    width: 100%;
    max-width: 525px;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;

    &Or {
        padding: 0 10px;
        color: $primary;
        font-size: 24px;
        letter-spacing: -1px;
    }

    @include mobile-sm {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        justify-content: flex-start;
        flex-direction: column;

        > * {
            margin-bottom: 20px;
        }

        &Description {
            margin-bottom: 22px;
        }

        &Or {
            display: none;
        }
    }
}
