@import '../../styles/index.module.scss';

.polygons {
    margin: 0 auto;
    max-width: $wrapper-width;
    padding: 5vw 5vw calc(10vw + 5vw) 5vw;

    @include desktop {
        padding: 5rem 5rem calc(10rem + 5rem) 5rem;    
    }
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    border: 10px solid $secondary;
    padding: 4vw;

    @include desktop {
        padding: 4rem;
    }
}

.title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 36px * 2;

    @include desktop {
        font-size: 3rem;
    }
}


.grid {
    margin-bottom: - 10vw;
    display: grid;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    font-size: 2vw;

    &Item {
        &.firstPoly {
            -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
        }
        &.lastPoly {
            -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
        }
        width: 30%;
        height: 30vw;
        display: inline-block;
        padding: 2.5vw;
        vertical-align: baseline;
        display: flex;
        align-items: flex-end;
        background-color: $secondary;

        &Text {
            padding-bottom: 0.5vw;
        }

        &Large {
            @extend .gridItem;
            height: 31.5vw;
            background-color: $secondary;
    
            &Text {
                @extend .gridItemText;
                padding-bottom: 2vw;
            }
        }
    }

    @include desktop {
        margin-bottom: -10rem;
        font-size: 1.3rem;

        &Item {
            padding: 2.5rem;
            height: 22.5rem;

            &Large {
                height: 24.5rem;

                &Text {
                    padding-bottom: 2.5rem;
                }
            }
        }
    }
}